page-principal {
    margin : 0;
}

.banner{
    width: 100%;
    margin: 0;
    border: snow;
}

.alinhamento{
  margin-left:20%;
}

.categorias-provas{
    width: 100%;
    margin: 0 auto;
    margin-top: 20px; 
    border: solid 1px gold;
}

.botao{
    width: 317%;
}