page-home {
    
}

#link{
    color: white;
    font-size: 14px;
    text-align: center;
}



#conteudo{
    background-color: #002244;
    
     
}

#conteudo-card{
    background-color: #002244;
    height: 100%;
    width: 100%;
    margin: 0 auto;
}

.login{
    padding-bottom: 5%;
    border-bottom: solid 1px black;
}

.senha{
    padding-bottom: 5%;
}

